<!DOCTYPE html>
<html lang="ja">
<% include common/_head %>
<body>
    <section id="all">
        <% include common/_header %>
        <% include common/_contents %>
    </section>

    <% include common/_footer %>    
</body>
</html>
